---
ckan_disqus_shortname: ENTER_SHORTNAME_HERE
# Uncomment the following lines and add your public and secret keys to enable Disqus SSO
#ckan_disqus_public_key: ""
#ckan_disqus_secret_key: ""
ckan_production: True
ckan_site_url: http://localhost:80/
#ckan_smtp_mail_from:
#ckan_smtp_user:
#ckan_smtp_server:
#ckan_smtp_starttls:
#ckan_smtp_password:
#db_backup_s3_access_key:
#db_backup_s3_secret_key:
#db_backup_s3_bucket:
#googleanalytics_id: ""
#ckan_ssl_key: "odp.key"
#ckan_ssl_cert: "odp.crt"
#letsencrypt_domains: [ 'domain.com', 'www.domain.com' ]
#letsencrypt_email: 'email@email.com'
