---
ckan_disqus_shortname: ENTER_SHORTNAME_HERE
ckan_site_url: http://localhost:8080/
ckan_production: false
#ckan_smtp_mail_from:
#ckan_smtp_user:
#ckan_smtp_server:
#ckan_smtp_starttls:
#ckan_smtp_password:
#db_backup_s3_access_key:
#db_backup_s3_secret_key:
#db_backup_s3_bucket:
#googleanalytics_id: ""
