---
- hosts: vagrant
  sudo: True
  vars:
      ckan_disqus_shortname: ENTER_SHORTNAME_HERE
  roles:
    - { role: "ckan" }
    - { role: "ckanext-archiver" }
    - { role: "ckanext-qa" }
    - { role: "ckanext-disqus" }
    - { role: "odp-importer" }
    - { role: "ckan-odp-configuration" }
