---
- hosts: staging

  become: True

  pre_tasks:
    - name: Update APT cache
      apt: update_cache=yes

  roles:
    - { role: "ckan" }
    - { role: "ckanext-archiver" }
    - { role: "ckanext-disqus" }
    - { role: "ckanext-issues" }
    - { role: "ckanext-spatial" }
    - { role: "ckanext-deadoralive" }
    - { role: "ckanext-datajson" }
    - { role: "ckan-deadoralive" }
    - { role: "ckanext-odp_theme" }
    - { role: "ckanext-googleanalytics" }
    - { role: "ckan-odp-configuration" }
